@model List<IrigasiManganti.Models.Sumur>;

@{
    Layout = "~/Views/Shared/_LayoutNavbarNew.cshtml";
    ViewData["Title"] = "Selamat Datang";
}

@section styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap">
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css"
        integrity="sha512-aiVWmB2G8oV+XfHo1CR6hEAxzCl48Lrl3UBzQ6P+BEMkT8qY1tGecdQx6x/X8i9cCVrwQU9ipsOsZlNkRh9n7w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <style>
        * {
            font-family: 'Manrope', sans-serif;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Manrope', sans-serif;
        }

        .box-legend {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 2px;
            margin-right: 0.4rem;
        }

        .container-map {
            height: 80vh;
            width: 100%;
        }

        #map {
            height: 100%;
            border-radius: 5px;
            outline: none;
            z-index: 1 !important;
            background: white;
        }

        .legend>div {
            background-color: #fff !important;
        }

        .info-box {
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: Arial, sans-serif;
        }

        .info-box table {
            width: 100%;
            border-collapse: collapse;
        }

        .info-box th {
            background-color: #f0f0f0;
            padding: 5px;
            text-align: left;
        }

        .info-box td {
            padding: 5px;
        }

        .panah-aliran {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
        }

        .transparent-tooltip {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            @*padding:0;*@
        }

        .bs-title {
            font-family: 'Manrope', sans-serif;
            font-size: 10px;
            font-weight: bold;
            color: #000;
        }

        .bangunan-sadap-title {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            font-family: 'Manrope', sans-serif;
            font-size: 9px;
            font-weight: 600;
            color: #000;
        }

        .box-petak {
            font-family: 'Manrope', sans-serif;
            color: #000;
        }

        .box-petak table {
            width: 100%;
            border-collapse: collapse;
        }

        .box-petak th {
            padding-left: 35px;
            padding-right: 35px;
            border: 1px solid #000;
            font-size: 9px;
        }

        .box-petak td {
            padding-left: 5px;
            padding-right: 5px;
            border: 1px solid #000;
            font-size: 8px;
        }

        .golongan-a th,
        .golongan-a td {
            border: 1.5px solid #1abc9c;
        }

        .golongan-b th,
        .golongan-b td {
            border: 1.5px solid blue;
        }

        .golongan-c th,
        .golongan-c td {
            border: 1.5px solid #F509F2;
        }

        .leaflet-tooltip-left {
            padding: 0;
        }

        .leaflet-tooltip-left:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-right {
            padding: 0;
        }

        .leaflet-tooltip-right:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-top {
            padding: 0;
        }

        .leaflet-tooltip-top:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-bottom {
            padding: 0;
        }

        .leaflet-tooltip-bottom:before {
            display: none;
            margin: 0;
        }

        .arrow {
            animation: dash 1s linear infinite;
        }

        @@keyframes dash {
            to {
                stroke-dashoffset: 1000;
            }
        }

        #table-legenda td {
            color: #222;
            font-size: 12px;
        }

        .text-sumber-aliran {
            font-size: 11px;
            white-space: nowrap;
            color: #222;
            font-weight: bold;
        }

        .text-saluran-primer {
            font-size: 16px;
            white-space: nowrap;
            color: #222;
            font-weight: 600;
            letter-spacing: 5px;
        }

        .text-saluran-sekunder {
            font-size: 12px;
            white-space: nowrap;
            color: #222;
            font-weight: 600;
        }

        .btn-circle {
            background-color: rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }

        .form-control[readonly] {
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
            border-color: rgb(255, 255, 255, .2);
            box-shadow: none;
        }

        .btn-prev-next {
            box-shadow: rgba(3, 18, 26, 0.15) 0px 2px 5px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 0px solid black;
        }

        .border-box {
            border: 1px solid gray;
            font-family: 'Manrope', sans-serif;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 9px;
        }

        .panah-aliran {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
        }
    </style>
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-4">
                <div class="card ">
                    <div class="card-header p-0">
                        <ul class="nav nav-tabs navtab-bg nav-fill" id="tab-center-left">
                            <li class="nav-item">
                                <a href="#tab-awlr" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                                    List Data <span class="badge bg-blue rounded ms-1" data-plugin="counterup"
                                        id="total-awlr">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body overflow-scroll p-2 side-bar-home">
                        <div class="tab-content p-0">
                             @foreach (var item in Model)
                             {
                                 <div class="card-body">
                                <div class="reading-device d-flex align-items-center justify-content-between mb-2">
                                    <div>
                                        KODE SUMUR
                                        <span class="badge badge-outline-secondary rounded-1 ms-1"
                                            style="color: #A9ABB8;border-color: #A9ABB8;">@item.Code</span>
                                    </div>
                                    @* <span><i class="mdi mdi-battery-charging-high ms-1" style="color: #F69696;"></i>
                                        12 Volt</span> *@
                                </div>

                                <div class="d-flex justify-content-around align-items-center reading-text">
                                    <div class="col-4 text-center">
                                        @if(item.KedalamanBor == null)
                                        {
                                            <h4 class="text-status-">-</h4>
                                        }
                                        else
                                        {
                                            <h4 class="text-status-">@item.KedalamanBor<sup>m</sup></h4>
                                        }
                                    </div>
                                    <div class="col-4 text-center">
                                        @if(item.DebitSumur == null)
                                        {
                                            <h4 class="text-status-">-</h4>
                                        }
                                        else
                                        {
                                            <h4 class="text-status-">@item.DebitSumur</h4>
                                        }
                                    </div>
                                    <div class="col-4 text-center">
                                        @if(item.Status == "TIDAK OPERASI")
                                        {
                                        <h4><span class="rounded-1 ms-1 align-self-center text-danger">@item.Status</span></h4>
                                        }
                                        else
                                        {
                                           <h4><span class="rounded-1 ms-1 align-self-center text-success">@item.Status</span></h4>
                                        }
                                       
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around reading-text">
                                    <div class="col-4 text-center">
                                        Kedalaman
                                    </div>
                                    <div class="col-4 text-center">
                                        Debit Sumur (Lt/det)
                                    </div>
                                    <div class="col-4 text-center">
                                        Status
                                    </div>
                                </div>
                            </div>
                             }
                          
                            <div class="tab-pane" id="tab-cctv">
                                <div id="links" class="links">

                                </div>


                                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls"
                                    aria-label="image gallery" aria-modal="true" role="dialog">
                                    <div class="slides" aria-live="polite"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide"
                                        aria-keyshortcuts="ArrowLeft"></a>
                                    <a class="next" aria-controls="blueimp-gallery" aria-label="next slide"
                                        aria-keyshortcuts="ArrowRight"></a>
                                    <a class="close" aria-controls="blueimp-gallery" aria-label="close"
                                        aria-keyshortcuts="Escape"></a>
                                    <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow"
                                        aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
                                    <ol class="indicator"></ol>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header p-3 d-flex justify-content-between align-items-center"
                        style="background: rgb(2, 100, 200);">
                        <h4 class="card-title mb-0 text-white">SKEMA SUMUR</h4>
                    </div>
                    <div class="card-body container-map">
                        <div class="w-100" id="map"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="markerModal" tabindex="-1" aria-labelledby="markerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="markerModalLabel">Marker Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Content will go here</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js"
        integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/id.js"></script>
    @* Google Maps *@
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&callback=initMap"></script>

}

@section additionalScripts {
    <script>
        function showRandomNumber(){
                document.getElementById("myNumber").innerHTML = rando(5, 10);
            }
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: -7.797068, lng: 110.370529 }, // Contoh lat/lng untuk Indonesia
            });

            // Tambahkan marker, data, atau layer lain ke peta sesuai kebutuhan
        }

        @* google.maps.event.addDomListener(window, 'load', initMap); *@

    </script>

    @{
        long currTimestamp = DateTime.Now.Ticks;
    }
    <script src="~/js/schemas/sumur_new.min.js?v=@currTimestamp"></script>
}