@model List<IrigasiManganti.Models.Sumur>;

@{
    Layout = "~/Views/Shared/_LayoutNavbarNew.cshtml";
    ViewData["Title"] = "Selamat Datang";
}

@section styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap">
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css"
        integrity="sha512-aiVWmB2G8oV+XfHo1CR6hEAxzCl48Lrl3UBzQ6P+BEMkT8qY1tGecdQx6x/X8i9cCVrwQU9ipsOsZlNkRh9n7w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />

    <style>
        * {
            font-family: 'Manrope', sans-serif;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            width: 100%;
            /* Pastikan tidak ada scroll */

        }

        .container-content {
            position: relative;
            width: 100%;
        }

        .container-home {
            position: absolute;
            width: 100%;
            max-height: max-content;
            margin-bottom: 50px;
        }

        .container-map {
            position: absolute;
            top: 70px;
            left: 0;
            height: 100vh;
            width: 100vw;
            padding: 0;
            margin: 0;
        }

        #map {
            height: 90%;
            width: 100%;
            top: 0;
            left: 0;
            background: white;
        }

        .overlay-list {
            position: absolute;
            top: 20px;
            left: 10px;
            width: 300px;
            height: 450px;
            background-color: rgba(255, 255, 255, 0.7);
            /* Transparan */
            padding: 15px;
            border-radius: 10px;
            z-index: 2;
            max-height: 90%;
            overflow: auto;
        }

        .blueimp-gallery {
            z-index: 2;
        }

        .gm-style-mtc {
            bottom: 86px !important;
            /* Atur jarak dari bawah, sesuaikan dengan kebutuhan */
            right: 77px !important;
            /* Sesuaikan jarak dari kiri */
        }
    </style>
}
<div class="container-map">
    <!-- Overlay list and map -->
    <div class="overlay-list">
        <div class="card-header p-0">
            <ul class="nav nav-tabs navtab-bg nav-fill" id="tab-center-left">
                <li class="nav-item">
                    <a href="#tab-awlr" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                        List Data <span class="badge bg-blue rounded ms-1" data-plugin="counterup"
                            id="total-awlr">0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab-cctv" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                        CCTV
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body p-2 side-bar-home">
            <div class="tab-content p-0">
                <div class="tab-pane active show" id="tab-awlr">
                    @foreach (var item in Model)
                    {
                        <div class="card-body">
                            <div class="reading-device d-flex align-items-center justify-content-between mb-2">
                                <div>
                                    KODE SUMUR
                                    <span class="badge badge-outline-secondary rounded-1 ms-1"
                                        style="color: #A9ABB8;border-color: #A9ABB8;">@item.Code</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around align-items-center reading-text">
                                <div class="col-4 text-center">
                                    @if (item.KedalamanBor == null)
                                    {
                                        <h4 class="text-status-">-</h4>
                                    }
                                    else
                                    {
                                        <h4 class="text-status-">@item.KedalamanBor<sup>m</sup></h4>
                                    }
                                </div>
                                <div class="col-4 text-center">
                                    @if (item.DebitSumur == null)
                                    {
                                        <h4 class="text-status-">-</h4>
                                    }
                                    else
                                    {
                                        <h4 class="text-status-">@item.DebitSumur</h4>
                                    }
                                </div>
                                <div class="col-4 text-center">
                                    @if (item.Status == "TIDAK OPERASI")
                                    {
                                        <h4><span class="rounded-1 ms-1 align-self-center text-danger">@item.Status</span>
                                        </h4>
                                    }
                                    else
                                    {
                                        <h4><span class="rounded-1 ms-1 align-self-center text-success">@item.Status</span>
                                        </h4>
                                    }
                                </div>
                            </div>
                            <div class="d-flex justify-content-around reading-text">
                                <div class="col-4 text-center">Kedalaman</div>
                                <div class="col-4 text-center">Debit Sumur (Lt/det)</div>
                                <div class="col-4 text-center">Status</div>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tab-cctv">
                    <div id="links" class="links"></div>
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls"
                        aria-label="image gallery" aria-modal="true" role="dialog">
                        <div class="slides" aria-live="polite"></div>
                        <h3 class="title"></h3>
                        <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide"
                            aria-keyshortcuts="ArrowLeft"></a>
                        <a class="next" aria-controls="blueimp-gallery" aria-label="next slide"
                            aria-keyshortcuts="ArrowRight"></a>
                        <a class="close" aria-controls="blueimp-gallery" aria-label="close"
                            aria-keyshortcuts="Escape"></a>
                        <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow"
                            aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Map div -->
    <div id="map"></div>
    <div class="container-home">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <center>
                        <div class="page-title-box">
                            
                            <h4 class="page-title">Daftar Data Sumur</h4>
                        </div>
                        </center>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <label for="length-hulu-table" class="me-2">Show</label>
                                            <div class="me-2">
                                                <select class="form-select form-select-sm rounded-pill my-1 my-lg-0"
                                                    id="length-hulu-table">
                                                    <option selected>10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="-1">All</option>
                                                </select>
                                            </div>
                                            <label for="length-hulu-table" class="me-3">Entries</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex flex-wrap align-items-center float-end">
                                            <form class="search-bar form-inline me-3">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="Search..."
                                                        id="search-hulu-table">
                                                    <span class="mdi mdi-magnify"></span>
                                                </div>
                                            </form> 
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table
                                        class="table table-sm table-centered table-bordered table-hover mb-0 table-custom w-100"
                                        id="table-sumur">
                                        <thead class="bg-blue text-white">
                                            <tr>
                                                <th rowspan="2" class="text-center">Kode</th>
                                                <th rowspan="2" class="text-center">Alamat</th>
                                                <th rowspan="2" class="text-center">Kedalaman (m')</th>
                                                <th rowspan="2" class="text-center">Debit Sumur (Lt/det)</th>
                                                <th colspan="4" class="text-center">Kondisi</th>
                                                <th colspan="2" class="text-center">Jaringan</th>
                                                <th rowspan="2" class="text-center">Status</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">Sumur</th>
                                                <th class="text-center">Mesin/Genset</th>
                                                <th class="text-center">Pompa</th>
                                                <th class="text-center">Rumah Popa</th>
                                                <th class="text-center">Pipsa Saluran</th>
                                                <th class="text-center">Box Pembagi</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
            </div> <!-- container -->
        </div>
    </div>
</div>

@section scripts {
    
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js"
        integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/id.js"></script>
    @* Google Maps *@
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&callback=initMap"></script>

}

@section additionalScripts {
    <script>
        function showRandomNumber() {
            document.getElementById("myNumber").innerHTML = rando(5, 10);
        }


        var dataTableSumur;

        var dataSumur = (function () {

            var initInput = function () {

                flatpickr("#monthpicker", {
                    altInput: true,
                    locale: "id", // Set locale to Indonesian
                    dateFormat: "Y-M", // Format to display month and year
                    defaultDate: new Date(), // Automatically select the current month
                    maxDate: new Date(), // Set the maximum selectable date to the current date
                    plugins: [
                        new monthSelectPlugin({
                            altInput: true,
                            shorthand: true, // Shortened month names
                            dateFormat: "Y-m", // Format to display month and year
                            altFormat: "F Y", // Alternate format to display month and year
                            theme: "light" // Light theme
                        })
                    ]
                });


                $("#monthpicker").on('change', function () {
                    dataTableSumur.ajax.reload();
                });
            };

            var initDataTableDetail = function () {
                dataTableSumur = $("#table-sumur").DataTable({
                    processing: true,
                    serverSide: true,
                    dom: "tipr",
                    order: [[5, "asc"]],
                    ajax: {
                        url: "/Home/GetSumurData",
                        type: "POST",
                        dataType: "JSON",
                        data: function (params) {
                            params.filter_date = getValueById('monthpicker');
                        }
                    },
                    columns: [
                        { data: 'code' },
                        { data: 'alamat' },
                        { data: 'kedalaman_bor' },
                        { data: 'debit_sumur' },
                        { data: 'kondisi_sumur' },
                        { data: 'kondisi_mesin' },
                        { data: 'kondisi_pompa' },
                        { data: 'kondisi_rumah_pompa', },
                        { data: 'irigasi_pipa_saluran', },
                        { data: 'irigasi_box_pembagi', },
                        { data: 'status' }
                    ],
                    language: {
                        paginate: {
                            previous: "<i class='mdi mdi-chevron-left'>",
                            next: "<i class='mdi mdi-chevron-right'>",
                        },
                    },
                    drawCallback: function () {
                        $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
                    },
                });


            };

            return {
                //main function to initiate the module
                init: function () {
                    // initInput();
                    initDataTableDetail();
                },
            };
        })();

        jQuery(document).ready(function () {
            dataSumur.init();

        });


        function formatDate(dateString, type) {
            const months = [
                "Januari", "Februari", "Maret", "April", "Mei", "Juni",
                "Juli", "Agustus", "September", "Oktober", "November", "Desember"
            ];

            // Parse the input date string
            const date = new Date(dateString);

            // Extract day, month, year, hour, and minute
            const day = date.getDate();
            const month = months[date.getMonth()];
            const year = date.getFullYear();
            const hour = String(date.getHours()).padStart(2, '0');
            const minute = String(date.getMinutes()).padStart(2, '0');

            // Format the date as "dd MMMM yyyy HH:mm"
            if (type === 'tanggal') {
                return `${day} ${month} ${year}`;
            } else if (type === 'update') {
                return `${day} ${month} ${year} ${hour}:${minute}`;
            }

        }



    </script>

    @{
        long currTimestamp = DateTime.Now.Ticks;
    }
    <script src="~/js/schemas/sumur_new.min.js?v=@currTimestamp"></script>
}